<div class="container mt-5">
  
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Image</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{ user.code }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.imagePath }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Tree View</h2>
  <div class="row">
  <tree-root #tree [nodes]="nodes" [options]="treeOptions">
    <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
      <div [class.tree-line]="!node.isRoot">
        <div #treeNode [style.cursor]="node.hasChildren ? 'pointer' : 'normal'">
          <span >
            <span *ngIf="node.hasChildren">
              <i (click)="node.mouseAction('expanderClick', $event)">+</i>
            </span>
          <span (click)="node.hasChildren ? node.mouseAction('expanderClick', $event) : null">{{ node.data.name }}</span>
          </span>
        </div>
        <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
      </div>
    </ng-template>
  </tree-root>
  </div>
</div>

